body {
	background-color: black;
	margin: 150px 50px auto 50px;
}

div {
	background-color: #ff0000;
	text-align: center;
}

input {
	text-align: center;
}

table, th, td {
	border: 1px solid black;
	text-align: center;
	border-collapse: collapse;
	margin: 0 auto;
}

.expander:hover {
	transform:scale(1.1, 1.1);
}

.slider {
	display: none;
	text-align: center;
}

.addButton {
	height: 22px;
	width: 85px;
}